.about-history {
  position: relative;

  background: url(../images/about/about-history-bg.jpg) no-repeat;
  background-size: contain;
  background-position: center right;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;

    width: 78rem;
    height: 23.6rem;

    background: url(../images/about/about-history-date.svg) no-repeat;
    background-size: cover;
  }
}

.about-history__inner {
  display: flex;
  align-items: center;
}

.about-history__images {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 3rem;

  margin-right: 10rem;
}

.about-history__big-img {
  width: 100%;
  max-width: 56rem;
}
.about-history__sm-img {
  width: 100%;
  max-width: 40rem;
}
.about-history__content {
  width: 100%;
  max-width: 40rem;
}
.about-history__title {
  font-weight: 700;
  font-size: 4rem;
  line-height: 125%;
  text-transform: uppercase;
  color: #ffffff;

  margin-bottom: 1rem;
}
.about-history__descr {
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 125%;
  color: #ffffff;
  opacity: 0.8;

  margin-bottom: 4rem;
}
