.about-prod {
  background: url(../images/about/about-prod-bg.png) no-repeat;
  background-size: contain;
}

.about-prod__inner {
  display: flex;
}

.about-prod__content {
  padding: 19.7rem 0;
  margin-top: 10rem;
}

.section-title {
  margin-bottom: 4rem;
}

.about-prod__images {
  position: relative;
  right: -14rem;

  width: 58rem;
  height: 62.8rem;

}

.about-prod__big-img {
  width: 100%;
  max-width: 58rem;

  position: absolute;
  top: 0;
}

.about-prod__sm-img {
  width: 100%;
  max-width: 40rem;

  position: absolute;
  left: 6rem;
  bottom: 0;
  z-index: 1;
}
