.hollow-btn {
  width: 100%;
  max-width: 19.6rem;
  height: 4.8rem;

  display: flex;
  align-items: center;

  font-size: 1.6rem;
  color: $primary;
  text-transform: uppercase;

  padding: 1.2rem 3rem;

  background-color: transparent;
  border: 1px solid $primary;

  transition: all 0.2s ease;

  svg {
    stroke: $primary;
  }

  .arrow-sm {
    width: 2.4rem;
    height: 2.4rem;

    margin-left: 1.2rem;
    stroke: $primary;
  }
  .arrow-long {
    display: none;

    width: 3.6rem;
    height: 2.4rem;

    margin-left: 1.2rem;
    stroke: $primary;
  }

  &:hover {
    max-width: 20.8rem;

    color: white;

    background-color: $accent;
    border-color: $accent;

    svg {
      stroke: white;
    }

    .arrow-sm {
      display: none;
    }
    .arrow-long {
      display: block;
    }
  }
}
