.intro {
  font-size: calc(100vw / 1400 * 10);
  height: 49em;

  @include breakpoint(1400px) {
    font-size: unset;

    height: 49rem;
  }

  @include breakpoint($lg-bp) {
    height: 43.3rem;
  }
  @include breakpoint($sm-bp) {
    height: unset;
  }
}

.intro-career {
  @include breakpoint($lg-bp) {
    background-position: center;
  }
}

.intro-main {
  height: 68rem;

  margin-top: 9rem;

  @include breakpoint($lg-bp) {
    height: 43.3rem;
  }
  @include breakpoint($sm-bp) {
    height: 21rem;

    padding-top: 0;
  }
}

.intro-bg {
  position: relative;

  background-repeat: no-repeat;
  background-size: cover;

  @include breakpoint($sm-bp) {
    background-size: auto 21rem;
    background-position: center 0;
  }

  &::after {
    content: "";
    width: 100%;
    height: 100%;

    background: rgba(9, 85, 64, 0.5);
  }
}

.intro__wrapper {
  position: relative;

  width: 100%;
  height: 100%;

  @include breakpoint($sm-bp) {
    background-size: 100% 21rem;
    background-position: center 9rem;
  }

  &.play {
    .video-poster {
      display: none;
    }
  }

  .container {
    max-width: 119em;
  }

  // .bracket {
  //   font-size: 8em;

  //   @include breakpoint(1400px) {
  //     font-size: 8rem;
  //   }
  // }
}

.intro__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-poster {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;

  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video__start-btn {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;

  transform: translate(-50%, -50%);
  transition: all 0.1s linear;
  cursor: pointer;
  opacity: 0.8;

  width: 10rem;
  height: 10rem;

  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(244, 244, 244, 0.2);
  border-radius: 50%;
  border: 0.1rem solid #ffffff;

  @include breakpoint($lg-bp) {
    width: 6.4rem;
    height: 6.4rem;
  }

  &:hover {
    background: transparent;
  }

  svg {
    width: 1.8rem;
    height: 2.4rem;

    fill: white;
    margin-left: 0.9rem;
  }
}
