<header class="header white">
    <div class="container">
        <div class="header__inner">
            <div class="header__logo">
                <svg>
                    <use href="#logo"></use>
                </svg>
            </div>
            <nav class="menu">
                <ul class="menu__nav-list">
                    <li class="nav-list__item">
                        <a href="#" class="nav-list__item-link">О компании</a>
                    </li>
                    <li class="nav-list__item">
                        <a href="#" class="nav-list__item-link">Купить</a>
                    </li>
                    <li class="nav-list__item">
                        <a href="#" class="nav-list__item-link">Для бизнеса</a>
                    </li>
                    <li class="nav-list__item">
                        <a href="#" class="nav-list__item-link">Карьера у нас</a>
                    </li>
                    <li class="nav-list__item">
                        <a href="#" class="nav-list__item-link">Пресс-центр</a>
                    </li>
                    <li class="nav-list__item">
                        <a href="#" class="nav-list__item-link">Контакты</a>
                    </li>
                </ul>
            </nav>

            <div class="header-orher">
                <div class="header__tel">
                    <a class="header__tel-link" href="tel:123">+7 (800) 333-01-07</a>
                    <p class="header__tel-descr">Для звонков по России</p>
                </div>
                <div class="header-search">
                    <div class="header-search__icon">
                        <svg>
                            <use href="#search"></use>
                        </svg>
                    </div>
                </div>
            </div>

            <div class="burger-menu">
                <div class="burger"></div>
            </div>
        </div>
    </div>
</header>