<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="footer-logo__wrapper">
                <svg class="footer-logo">
                    <use href="#logo"></use>
                </svg>
                <a class="footer-tel" href="tel:123">+7 (800)333-01-07</a>
                <p class="footer-tel-descr">Для звонков по России</p>
            </div>
            <nav class="footer-menu">
                <a class="footer-menu__link" href="#">Главная</a>
                <a class="footer-menu__link" href="#">Карьера у нас</a>
                <a class="footer-menu__link" href="#">О компании</a>
                <a class="footer-menu__link" href="#">Пресс-центр</a>
                <a class="footer-menu__link" href="#">Купить</a>
                <a class="footer-menu__link" href="#">Контакты</a>
                <a class="footer-menu__link" href="#">Для бизнеса</a>
            </nav>
            <div class="footer-soc">
                <a class="footer__privacy" href="#">Политика конфиденциальности</a>

                <div class="soc-links">
                    <a class="soc-link tg-icon" href="#">
                        <svg>
                            <use href="#tg-icon"></use>
                        </svg>
                    </a>
                    <a class="soc-link whatsap-icon" href="#">
                        <svg>
                            <use href="#whatsap-icon"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>