<div class="modal modal-resume hide" data-modalName="modal-resume">
    <div class="modal__inner" data-scroll-lock-scrollable>
        <span class="modal-close-btn" data-close>
            <svg>
                <use href="#close"></use>
            </svg>
        </span>
        <h2 class="modal-heading">Отправить резюме</h2>
        <form class="modal-resume__form">
            <div class="modal-resume__fields-column">
                <div class="required-input__wrapper">
                    <input class="required-input" type="text" id="cf-name" name="cf-name" data-name="ФИО"
                        required="required" />
                    <label for="cf-name">ФИО</label>
                </div>
                <div class="modal-resume__fields-row">
                    <div class="required-input__wrapper">
                        <input class="required-input" type="tel" id="cf-tel" name="cf-tel" data-name="Телефон"
                            required="required" />
                        <label for="cf-tel">+7 (999)-000-00-00</label>
                    </div>
                    <div class="required-input__wrapper">
                        <input class="required-input" type="tel" id="cf-sity" name="cf-sity" data-name="Город"
                            required="required" />
                        <label for="cf-sity">Город</label>
                    </div>

                </div>
            </div>
            <p class="error-req-fields hide">Не заполнены следующие обязательные поля: <span id="req-fields"></span>
            </p>
            <div class="form-attach">
                <p class="form-attach__title">Прикрепить файл с резюме</p>
                <input class="form-attach__input" type="file">
            </div>
            <div class="modal-resume__fields-column">
                <textarea class="cf-textarea" placeholder="Поле для ввода дополнительной информации"></textarea>
            </div>
            <p class="req-field_note"><span style="color: #ff0000;">*</span> Обязательные поля для ввода</p>
            <button class="modal-resume__submit-btn filled-btn" type="submit">ОТПРАВИТЬ ЗАПРОС</button>
            <p class="form-privacy">
                <input class="custom-checkbox" type="checkbox" value="resume-privacy" name="resume-privacy"
                    id="resume-privacy" required>
                <label for=resume-privacy></label>
                <span style="color: #ADB1B6;">Я даю <span class="modal-privacy__link" data-modal="modal-privacy">
                        согласие на обработку и
                        хранение
                        персональных данных</span>.</span></span>.
            </p>
        </form>
    </div>
</div>