<div class="modal modal-privacy hide" data-modalName="modal-privacy">
    <div class="modal__inner" data-scroll-lock-scrollable>
        <span class="modal-close-btn" data-close>
            <svg>
                <use href="#close"></use>
            </svg>
        </span>
        <h2 class="modal-heading">Согласие на обработку персональных данных</h2>
        <div class="modal-privacy__content">
            <p>1. Выражаю ООО &laquo;Нордтекс&raquo; (далее &ndash; оператор) (ИНН 5001069981, адрес: 143912, Московская
                область, город Балашиха, Западная коммунальная зона, шоссе Энтузиастов, владение 4) свое согласие на
                автоматизированную и неавтоматизированную обработку моих персональных данных, включая сбор,
                систематизацию, накопление, хранение, уточнение (обновление, изменение), использование, распространение
                (в том числе передачу), обезличивание, блокирование, уничтожение следующих моих персональных данных,
                переданных мною лично оператору, в т.ч. с использованием интернет-сервисов https://www.nord-tex.ru:
                <br /><br />1.1. дата и место рождения <br /><br />1.2.номер паспорта, сведения об органе его выдавшим и
                дате выдаче <br /><br />1.3. адрес места жительства (по паспорту, фактический) <br /><br />1.4. дата
                регистрации по месту жительства <br /><br />1.5. пол <br /><br />1.6. возраст <br /><br />1.7. номер
                телефона (домашний/ сотовый) <br /><br />1.8. условия заказа в случае его оформления <br /><br />1.9.
                источник захода на сайт https://www.nord-tex.ru (далее &ndash; сайт) и информация поискового или
                рекламного запроса <br /><br />1.10. данные о пользовательском устройстве (среди которых разрешение,
                версия и другие атрибуты, характеризуемые пользовательское устройство, IP-адрес) <br /><br />1.11.
                информация о браузере пользователя (или иной программе, с помощью которой осуществляется доступ в сеть
                Интернет), технические характеристики оборудования и программного обеспечения, используемых
                пользователем <br /><br />1.12. дата и время доступа <br /><br />1.13. пользовательские клики, просмотры
                страниц, заполнения полей, показы и просмотры баннеров и видео <br /><br />1.14. данные, характеризующие
                аудиторные сегменты <br /><br />1.15. параметры сессии <br /><br />1.16. данные о времени посещения
                <br /><br />1.17. идентификатор пользователя, хранимый в cookie <br /><br />2. оператор может
                обрабатывать мои персональные данные сроком до 10 лет в следующих целях: <br /><br />2.1. идентификации
                пользователей (посетителей) сайта оператора; <br /><br />2.2. связи со мной, в том числе направление
                уведомлений, запросов и информации, касающихся использования сайта, исполнения соглашений и договоров, а
                также обработки запросов и заявок от меня; <br /><br />2.3. обезличивания персональных данных для
                получения обезличенных статистических данных, которые передаются третьему лицу для проведения
                исследований, выполнения работ или оказания услуг по поручению оператора. <br /><br />3. Обработка (на
                бумажных носителях; в информационных системах персональных данных и без использования средств
                автоматизации, а также смешанным способом) оператором моих персональных данных должна осуществляться в
                соответствии с требованиями Федерального закона от 27.07.2006г. № 152-ФЗ &laquo;О персональных
                данных&raquo;, &laquo;Политикой об обработке персональных данных&raquo; приказ от 15.12.2010 года.
                <br /><br />4. Также даю свое согласие на предоставление оператору моих персональных данных как
                посетителя сайта агентствам, с которыми он сотрудничает. Оператор вправе осуществлять обработку моих
                персональных данных следующими способами: сбор, запись, систематизация, накопление, хранение,
                обновление, изменение, использование, передача (распространение, предоставление, доступ). <br /><br />5.
                Настоящее согласие, в том числе на передачу персональных данных третьей стороне в соответствии с п. 4
                настоящего согласия, вступает в силу с момента моего перехода на сайт оператора и действует до дня
                отзыва в письменной форме. <br /><br />6. Настоящее согласие может быть отозвано письменным заявлением
                на e-mail content@nord-tex.ru.
            </p>
        </div>
    </div>
</div>